.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & form {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    padding: 2rem;
    gap: 1rem;

    & h1 {
      margin-bottom: 2rem;
    }

    & input {
      width: 100%;
      height: 2rem;
      padding-left: 0.5rem;
      font-size: 1rem;
    }

    & button {
      width: 100%;
      height: 2rem;
      font-size: 1rem;
      background-color: #000;
      color: #fff;
      cursor: pointer;
    }
  }
}
