.header {
  width: 100%;
  border: 1px solid #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  & form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
      width: 80%;
      height: 2rem;
      padding-left: 0.5rem;
      font-size: 1rem;
    }

    & button {
      width: 20%;
      height: 2rem;
    }
  }
}
